{:source-paths ["src"]

 :dependencies [[binaryage/devtools "1.0.0"]
                [proto-repl "0.3.1"]
                [reagent "0.10.0"]]

 :nrepl        {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [nicholas.core]}}

        :devtools
        {:after-load  nicholas.core/main
         :http-root   "public"
         :http-port   3000}}}}
